/* src/App.css */
body {
  background-color: #252525;
}

nav {
  background-color: rgba(
    58,
    202,
    21,
    0.973
  ); /* Warna latar belakang dengan tingkat kejelasan */
  padding: 20px;
  display: flex;
  justify-content: center; /* Menempatkan nav di tengah horizontal */
  border-radius: 50px;
  margin: 20px 550px; /* Mengatur panjang atas dan bawah, serta kiri dan kanan navbar */
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  outline: none; /* Menghilangkan garis bawah pada tautan fokus */
}

a:hover {
  color: #065e22;
}
